<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg bg-nav">

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/logo.png}" alt="Unka logo" width="100" height="50" class="d-inline-block align-top"/>
        </a>


        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButtonCourse"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Курсове
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCourse">
                    <a class="dropdown-item" th:href="@{/courses/all}">Всички</a>
                    <ul>
                        <li th:each="categoryView : ${categories}" >

                            <a class="dropdown-item"
                               th:text="${categoryView.name}"
                               th:href="@{/courses/all/{id}(id=${categoryView.id})}">
                            </a>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-groupEntity has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Търси в курсове...">
            </div>

            <!--/*@thymesVar id="isTeacher" type=""*/-->
            <a sec:authorize="!hasRole('TEACHER')" th:unless="${isTeacher}" class="nav-link link-n" th:href="@{/become-teacher}">Преподавай</a>
            <!--           Reload navbar after student become teacher-->

            <th:block sec:authorize="!isAuthenticated()">
                <a class="nav-link link-n" th:href="@{/about}">За нас</a>

                <a class="nav-link link-n" th:href="@{/users/login}">Вход</a>
            </th:block>

            <div sec:authorize="hasRole('ADMIN')" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButtonAdmin"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Администратор
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                    <a class="dropdown-item" href="/statistics">Статистика</a>
                    <a class="dropdown-item" th:href="@{/users/all}">Акаунти</a>
                </div>
            </div>


            <div sec:authorize="hasRole('TEACHER')" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButtonTeacher"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Преподавател
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonTeacher">
                    <a class="dropdown-item" th:href="@{/board}">ТАБЛО</a>
                    <a class="dropdown-item" th:href="@{/courses/add}">+Курс</a>
                    <a class="dropdown-item" th:href="@{/lessons/add}">+Урок</a>
<!--                    TODO adding exercise with AJAX-->
<!--                    <a class="dropdown-item" th:href="@{/exercises/add}">+Упражнение</a>-->
                </div>
            </div>

            <th:block sec:authorize="hasRole('STUDENT')">
                <!--                <a sec:authorize="!hasRole('TEACHER')" class="nav-link link-n" th:href="@{/roles/add-teacher}">Преподавай</a>-->
                <a class="nav-link link-n" th:href="@{/courses/my-courses}">Моите курсове</a>
                <a class="nav-link link-n" th:href="@{/profile}">Профил</a>
                <th:block>

                    <!--                    <a sec:authorize="isAuthenticated()" class="nav-link link-n"><i class="fas fa-heart"></i></a>-->
                    <a sec:authorize="isAuthenticated()" th:href="@{/shopping-cart}" class="nav-link link-n"><i
                            class="fas fa-shopping-cart"></i></a>

                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit"
                                class="btn btn-link nav-link link-n">
                            Изход
                        </button>
                    </form>


        </div>

    </nav>
</th:block>