<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>


<main class="content-wrap">
    <div class="container">


        <h3 class="text-center"><span class="lable-intrance">Въпросник</span></h3>
        <form method="POST" th:action="@{/users/add-teacher}" th:object="${profileInformationAddBindingModel}">
            <div class="form-groupEntity">
                <label for="profession">Професия</label>
                <input type="text" class="form-control" id="profession" th:field="*{profession}"
                       placeholder="Учител / Счетоводител / Икономист...">
            </div>
            <div class="form-groupEntity">
                <label for="yearsExperience">Години опит в областта</label>
                <input type="number" min="0" class="form-control"
                       th:errorclass="is-invalid"
                       id="yearsExperience"
                       th:field="*{yearsExperience}"
                       placeholder="Въведете опита си в години">

<!--                <small th:if="${#fields.hasErrors('yearsExperience')}"-->
<!--                       th:errors="*{yearsExperience}" id="yearsExperienceError"-->
<!--                       class="text-light form-text bg-danger rounded">Минималната стойност е 0!</small>-->
            </div>
            <div class="form-groupEntity">
                <label for="presentation">Представете се на бъдещите си курсисти /образование, професионален опит,
                    работодатели, проекти и др./:</label>
                <textarea class="form-control" id="presentation" rows="3" th:field="*{presentation}"></textarea>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Преподавай</button>
            </div>
        </form>

    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>


</body>

</html>