<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Унка</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>


<main class="content-wrap">
    <div class="container">

        <p>Информация за това каквое да си учител
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque cum deserunt dolorem, eos esse eum
            ex
            facilis id illum impedit molestiae nemo nobis optio porro quas qui, quisquam rem unde voluptatum. Alias
            animi deleniti ducimus eveniet facere, illo mollitia obcaecati odit perspiciatis rem tempore ut? Asperiores
            incidunt magnam praesentium?</p>

        <h3 class="text-center"><span class="lable-intrance">Въпросник</span></h3>
        <form method="POST"
              th:action="@{/users/add-teacher}">
            <div class="form-group">
                <label for="exampleFormControlInput1">Каква професия упражнявате?</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                       placeholder="Учител / Счетоводител / Икономист...">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Колко години опит в областта имате</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>повече</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Изберете областите, в които сте уверени да преподавате:</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Описание на опита Ви в посочените области на
                    компетенция:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Преподавай</button>
            </div>
        </form>

    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>


</body>

</html>