<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <script src="https://jsuites.net/v4/jsuites.layout.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css"/>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.layout.css" type="text/css"/>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="content-wrap">
    <div class="container">


        <!--    <input class="form-control mr-sm-2 w-75" id="searchInput" placeholder="Search" type="search" aria-label="Search">-->

        <div id="usersList">
        </div>

    </div>

</main>

<th:block th:include="~{fragments/footer}"></th:block>
<!--<script th:src="@{/js/search-users.js}"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var listAllRoles = /*[[${listAllRoles}]]*/ 'listAllRoles';

//TODO create form for changing roles
    console.log(listAllRoles)
    /*]]>*/
    var template = jSuites.template(document.getElementById('usersList'), {
        url: "http://localhost:8080/users/api/all",
        search: true,
        searchPlaceHolder: "Търсене...",
        pagination: 3,
        template: {
            item: function (data) {
                return `
                <div class="card w-75 box-shadow">
                <div class="card-body d-flex justify-content-between">
                    <div class="text-left">
                        <h6 class="card-text">ПОТРЕБИТЕЛСКО ИМЕ: ${data.username}</h6>
                        <h6 class="card-text border-bottom ">ИМЕ И ФАМИЛИЯ: ${data.fullName}</h6>

                  </div>
                    <div>
                        <div class="btn-group">
                            <a href="/profile/edit/${data.id}"  class="btn btn-primary">Редактирай</a>
                        </div>
                    </div>
                </div>

            </div>`
            }
        }
    });

</script>

</body>

</html>