<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css"/>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>

</header>

<main class="d-flex" >


    <ul th:unless="${exercisesNameList.isEmpty()}" class="vertical-list-lessons">
        <li style="background-color: #d1ecf1; padding: 10px;">Упражнения:</li>
        <li th:each="e: ${exercisesNameList}" class="list-group-item exercise-menu-item">
            <a th:href="@{/exercises/{id}(id=${e.id})}">
                <i class="fa fa-dumbbell"></i>
                <small th:text="${e.title}"></small>
            </a>
            <i th:if="${e.id==exerciseViewModel.id}" style="color: #EF4E7C;" class="fa fa-map-marker-alt"></i>
        </li>
    </ul>

    <div class="container-fluid">

        <h3 class="text-center"><span class="lable-intrance">Решаване на упражнение</span></h3>

        <a class="btn btn-primary" th:if="${isTeacherOfCourse}"
           th:href="@{/exercises/edit/{id}(id=${id})}">Редактирай</a>

        <small th:if="${isFalseSolutionMessage}" id="isFalseSolutionMessage" class="text-danger font-weight-bold">
            Грешно решение! Опитай отново!</small>

        <small th:if="${isTrueSolutionMessage}" id="isTrueSolutionMessage" class="text-success font-weight-bold">
            Отлично! Продължавай напред!</small>

        <form th:action="@{/exercises/solution}"
              method="POST"
              th:object="${solutionAddBindingModel}">

            <h4 class="font-weight-bold" th:text="|КУРС: ${exerciseViewModel.getLesson().getCourse().name}|"></h4>

            <h4 class="font-weight-bold" th:text="|УРОК: ${exerciseViewModel.getLesson().title}|"></h4>
            <input type="hidden" name="exerciseId" th:value="${exerciseViewModel.getId()}"/>

            <!--            Go to lesson-->
            <a class="btn btn-primary" th:href="@{/lessons/{id}(id=${exerciseViewModel.getLesson().id})}">
                <i class="fas fa-chevron-circle-right"></i> Към урока
            </a>

            <hr/>
            <h4 class="font-weight-bold" th:text="|УПРАЖНЕНИЕ: ${exerciseViewModel.title}|"></h4>
            <h6 class="font-weight-bold">Изисквания за изпълнение на упражнението:</h6>
            <p th:text="${exerciseViewModel.description}"></p>

            <h6 class="font-weight-bold">Условие на упражнението:</h6>
            <p th:text="${exerciseViewModel.text}"></p>

            <fieldset>

                <hr/>
                <h3>Попълнете решението на счетоводната задача:</h3>
                <h5 class="font-weight-bold">Решение на задачата:</h5>

                <div class="my-5">
                    <div class="d-flex">
                        <label class="solution-label">dt</label>
                        <div class="col-sm-12 d-flex align-self-center">
                            <!--                            DROPDOWN-->
                            <div id="dropdownDebitNumber"></div>

                            <input th:value="*{debitChartId}"
                                   type="hidden"
                                   name="debitChartId"
                                   required
                                   id="searchDtInput"
                                   class="form-control mr-sm-2 w-50"
                                   placeholder="Въведете номер или име на сметка" aria-label="Search">

                            <small class="text-danger" th:if="${#fields.hasErrors('debitChartId')}"
                                   th:errors="*{debitChartId}"></small>

                            <input th:value="*{debitValue}"
                                   name="debitValue"
                                   required
                                   type="number" step="0.01" value='0.00' placeholder='0.00'
                                   class="form-control mr-sm-2 w-25">
                            <small class="text-danger" th:if="${#fields.hasErrors('debitValue')}"
                                   th:errors="*{debitValue}"></small>
                        </div>


                    </div>
                    <div class="d-flex">
                        <label class="solution-label">kt</label>
                        <div class="col-sm-12 d-flex align-self-center">
                            <!--                            DROPDOWN-->
                            <div id="dropdownCreditNumber"></div>

                            <input th:value="*{creditChartId}"
                                   type="hidden"
                                   name="creditChartId"
                                   id="searchCtInput"
                                   required
                                   class="form-control mr-sm-2 w-50"
                                   placeholder="Въведете номер или име на сметка" aria-label="Search">
                            <small class="text-danger" th:if="${#fields.hasErrors('creditChartId')}"
                                   th:errors="*{creditChartId}"></small>
                            <input th:value="*{creditValue}"
                                   name="creditValue"
                                   required
                                   type="number" step="0.01" value='0.00' placeholder='0.00'
                                   class="form-control mr-sm-2 w-25">
                            <small class="text-danger" th:if="${#fields.hasErrors('creditValue')}"
                                   th:errors="*{creditValue}"></small>
                        </div>
                    </div>

                </div>


                <button type="submit" name="action" value="save" class="btn btn-primary">Провери</button>

                <hr/>

                <a th:unless="${exercisesNameList.get(exercisesNameList.size()-1).getId() == exerciseViewModel.id}"
                   class="btn btn-primary"
                   th:href="@{/exercises/{id}(id=${exercisesNameList.get(indexOfCurrentExercise + 1).id})}">
                    <i class="fas fa-chevron-circle-right"></i> Към следващо упражнение
                </a>
            </fieldset>
        </form>

    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>
<script th:src="@{/js/search-charts.js}"></script>
</body>

</html>

