<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>


<main class="content-wrap">
    <div class="container emp-profile">
        <form method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                             alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            Kshiti Ghelani
                        </h5>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">За мен</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Дейност</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="presentation-tab" data-toggle="tab" href="#presentation"
                                   role="tab" aria-controls="presentation" aria-selected="false">Представяне</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" name="btnAddMore">Редактирай профил</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>ПОСЛЕДНО СЪЗДАДЕНИ КУРСОВЕ</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Потребителско име</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti123</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Име и фамилия</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti Ghelani</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Имейл</label>
                                </div>
                                <div class="col-md-6">
                                    <p>kshitighelani@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Телефон</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 7890</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Професия</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Web Developer and Designer</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Професионален опит в областта</label>
                                </div>
                                <div class="col-md-6">
                                    <p>2 години</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Участник в курсове</label>
                                </div>
                                <div class="col-md-6">
                                    <p>2</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Създадени курсове</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
                            <div class="row">
                                <div class="row-md-6 pb-3">
                                    <label>Запознаване с курсистите /образование, професионален опит, работодатели,
                                        проекти и др./:</label>
                                </div>
                                <div class="row-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequuntur
                                        cum doloremque doloribus ducimus eaque error, eveniet excepturi expedita iusto
                                        labore laborum libero magni minus molestiae nostrum numquam officia pariatur
                                        quae quidem repellendus rerum sapiente sint, unde! Delectus dolorem facilis
                                        molestias temporibus voluptatem! Esse eum incidunt ipsa maiores quae.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</main>

<th:block th:include="~{fragments/footer}"></th:block>


</body>

</html>