<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>


<main class="content-wrap">
    <div class="container emp-profile" th:object="${profileInformation}">

        <div class="row">
            <div class="col-md-4">

                <div class="profile-img">

                    <img th:src="*{imgUrl == null ? '/img/profile-placeholder.png' : imgUrl}" id="myImage"/>

                    <form th:action="@{/profile/edit/photo}" method="POST" id="imageForm" enctype="multipart/form-data">
                        <div class="file btn btn-lg btn-primary">
                            Смени снимка
                            <input type="file" name="img" accept="image/*" onchange="loadFile(event)">
                        </div>

                        <div id="button-holder"></div>

                    </form>

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="*{user.fullName}">
                        Kshiti Ghelani
                    </h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">За мен</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Дейност</a>
                        </li>
                        <!--/*@thymesVar id="isTeacher" type=""*/-->
                        <th:block th:if="${isTeacher}">
                            <li class="nav-item">
                                <a class="nav-link" id="presentation-tab" data-toggle="tab" href="#presentation"
                                   role="tab" aria-controls="presentation" aria-selected="false">Представяне</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a th:href="@{/profile/edit/{id}(id=*{user.id})}" class="btn btn-primary">Редактирай профил</a>
                <a th:href="@{/profile/delete/{id}(id=*{user.id})}" class="btn btn-primary">Изтрии профил</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h6>РОЛИ</h6>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" id="studentRole" name="studentRole" disabled
                                       th:checked="*{user.roleId.contains(1L)}" value="1">
                                <label for="studentRole">Студент</label><br>
                                <!--/*@thymesVar id="isTeacher" type=""*/-->
                                <th:block th:if="${isTeacher}">
                                    <input type="checkbox" id="teacherRole" disabled name="teacherRole"
                                           th:checked="*{user.roleId.contains(2L)}" value="2">
                                    <label for="teacherRole">Учител</label><br>
                                </th:block>
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <input type="checkbox" id="adminRole" disabled name="adminRole"
                                           th:checked="*{user.roleId.contains(3L)}" value="3">
                                    <label for="adminRole">Администратор</label><br>
                                </th:block>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Потребителско име</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{user.username}">Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Име и фамилия</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{user.fullName}">Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Имейл</label>
                            </div>
                            <div class="col-md-6">
                                <small th:if="*{email == null}" class="text-danger">Редактирайте профила и
                                    добавете информация</small>
                                <p th:text="*{email}">kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Телефон</label>
                            </div>
                            <div class="col-md-6">
                                <small th:if="*{phoneNumber == null}" class="text-danger">Редактирайте профила и
                                    добавете информация</small>
                                <p th:text="*{phoneNumber}">123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Професия</label>
                            </div>
                            <div class="col-md-6">
                                <small th:if="*{profession == null}" class="text-danger">Редактирайте профила и
                                    добавете информация</small>
                                <p th:text="*{profession}">Web Developer and Designer</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Професионален опит в областта</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="|*{yearsExperience == null ? 0 : yearsExperience } години|">2 години</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Участник в курсове</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${allMyEnrolledCoursesNumber}"></p>
                            </div>
                        </div>

                        <!--/*@thymesVar id="isTeacher" type=""*/-->
                        <div class="row" th:if="${isTeacher}">
                            <div class="col-md-6">
                                <label>Създадени курсове</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{user.getTeachCourses().size()}">10</p>
                            </div>
                        </div>
                    </div>
                    <!--/*@thymesVar id="isTeacher" type=""*/-->
                    <div th:if="${isTeacher}" class="tab-pane fade" id="presentation" role="tabpanel"
                         aria-labelledby="presentation-tab">
                        <div class="row">
                            <div class="row-md-6 pb-3">
                                <label>Запознаване с курсистите /образование, професионален опит, работодатели,
                                    проекти и др./:</label>
                            </div>
                            <div class="row-md-6">
                                <small th:if="*{presentation == null}" class="text-danger">Редактирайте профила и
                                    добавете информация</small>
                                <p th:text="*{presentation}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

<th:block th:include="~{fragments/footer}"></th:block>
<script>
    let loadFile = function (event) {
        let reader = new FileReader();
        reader.onload = function () {

            // Add photo in placeholder
            let output = document.getElementById('myImage');
            output.src = reader.result;

            // Add button
            let newButton = document.createElement('button');
            newButton.setAttribute('class', 'btn btn-primary');
            newButton.setAttribute('id', 'btnChangePhoto');
            newButton.innerText = "Смени";
            newButton.addEventListener("click", saveImage);

            document.getElementById("button-holder").appendChild(newButton);
        };

        reader.readAsDataURL(event.target.files[0]);
    };

    function saveImage(event) {
        document.getElementById("imageForm").submit();
    }


</script>
</body>

</html>