<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Регистрация</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>

</header>

<main class="content-wrap">
    <h3 class="text-center"><span class="lable-intrance">Регистрация</span></h3>

    <form class="mx-auto w-25 bg-blur"
          th:object="${userRegisterBindingModel}"
          method="POST"
          th:action="@{/users/register}">

        <div class="form-group">
            <div class="d-flex">
                <label for="username" class="intrance">Потребителско име</label>
            </div>
            <input th:value="*{username}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   id="username"
                   name="username"/>

            <small id="usernameError"
                   class="invalid-feedback text-light form-text bg-danger rounded">Username length must be minimum 3
                characters</small>
            <small th:if="${userExistsError}" id="usernameUniqueError"
                   class="text-light form-text bg-danger rounded">Username is already occupied</small>

        </div>

        <div class="form-group">
            <div class="d-flex">
                <label for="fullName" class="intrance">Име и фамилия</label>
            </div>
            <input
                    th:value="*{fullName}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"/>

            <small id="fullNameError"
                   class="invalid-feedback text-light form-text bg-danger rounded">Full name length must be
                minimum 3 characters</small>
        </div>

        <div class="form-group">
            <div class="d-flex">
                <label for="email" class="intrance">Имейл</label>
            </div>
            <input
                    th:value="*{email}"
                    th:errorclass="is-invalid"
                    type="text" class="form-control" id="email"
                    name="email"/>

            <small id="emailError"
                   class="invalid-feedback text-light form-text bg-danger rounded">Must be valid
                email</small>
        </div>
        <div class="form-group">
            <div class="d-flex">
                <label for="password" class="intrance">Парола</label>
            </div>
            <input type="password"
                   th:errorclass="is-invalid"
                   class="form-control"
                   id="password" name="password"/>

            <small id="passwordError"
                   class="invalid-feedback text-light form-text bg-danger rounded">
                Password length must be between 6 and 20 characters and passwords should match.
            </small>
        </div>

        <div class="form-group">
            <div class="d-flex">
                <label for="repeatPassword" class="intrance">Повторете паролата</label>
            </div>
            <input type="password"
                   class="form-control"
                   th:errorclass="is-invalid"
                   id="repeatPassword" name="repeatPassword"/>
            <small id="repeatPasswordError"
                   class="invalid-feedback text-light form-text bg-danger rounded">
                Password length must be between 6 and 20 characters and passwords should match.
            </small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Създай профил</button>
        </div>
        <div style="padding-top: inherit">
            <small class="new-line">Имате ли вече регистрация?
                <a class="link-register" th:href="@{/users/login}">Вход</a>
            </small>
        </div>
    </form>
</main>

<th:block th:include="~{fragments/footer}"></th:block>


</body>

</html>